/*Tags Gerais  */

*{
    margin: 0;
    padding: 0;
}


/* Header */
header{
    background-image: url("../img/fundo-topo.jpg");
    text-align: center;
    padding: 10px 0;
}
header h1{
    height: 90px;
}

/* NAV */

nav li{
    display: inline;
    margin-right: 10px;
    padding-right: 27px;
    background-image: url("../img/patinha-preta.png");
    background-repeat: no-repeat;
    background-position: center right;
}
nav{
    padding: 15px 0;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #000;
}
form{
    width: 380px;
}
form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
iframe{
    width: 100%;
}
/* Especifico ID */

#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

#produto .flex-container{
    margin-top: 50px;
}

/* Sobre nós */

h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}


/* Classes */
.fundo-verde{
    background-color: #bdff9c;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}
.flex-conteiner .col{
    width: 430px;
}
.produto{
    width: 235px;
}

.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    height: 160px;
    text-align: center;
    line-height: 160px;
}

.produto figure img{
    vertical-align: middle;
}

.texto-centralizado{
    text-align: center;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}
footer {
    display: flex;
    justify-content: left;
    padding: 20px;
    background-color: #222222;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}
.container {
    width: 90%;
    max-width: 1200px; 
    display: flex;
    align-items: center;
}
footer a {
    color: #00acee; 
    text-decoration: none;
    margin-right: 8px;
}

footer a:hover {
    color: #1da1f2;
}
img {
    width: 50px;
    height: 50px;
}

